<div class="container">
    <div [hidden]="noPseudo">
        <form [formGroup]="pseudoForm" *ngIf="active">
            <div class="form-group">
                <input type="text" id="name" name="pseudo" class="form-control" formControlName="pseudo" required
                       placeholder="Pseudo">
                <button type="submit" class="btn btn-default btn-valid-pseudo"
                        (click)="onSubmit()" [disabled]="!pseudoForm.valid">
                    OK
                </button>
                <div *ngIf="formErrors.pseudo" class="alert alert-danger">{{ formErrors.pseudo }}</div>
            </div>
        </form>
    </div>
    <div [hidden]="!noPseudo">
        <p [innerHTML]="pseudo"></p>
    </div>
</div>