<div class="container">
    <div [hidden]="noUser">
        <form [formGroup]="UserForm" *ngIf="active">
            <div class="form-group">
                <input type="text" id="user" name="user" class="form-control" formControlName="user" required
                       placeholder="Pseudo">
                <button type="submit" class="btn btn-default btn-valid-pseudo"
                        (click)="onSubmit()" [disabled]="!userForm.valid">
                    OK
                </button>
                <div *ngIf="formErrors.user" class="alert alert-danger">{{ formErrors.user }}</div>
            </div>
        </form>
    </div>
    <div [hidden]="!noUser">
        <p [innerHTML]="user"></p>
    </div>
</div>