<div class='wrapperGame-interfaceListeJoueursRoles'>
	<div class='wrapperGame-interfaceListeJoueursRoles-blocHaut'></div>

	<div class='wrapperGame-interfaceListeJoueursRoles-Role'>
		
		<div *ngFor="let listUsers of listUser" class='wrapperGame-interfaceListeJoueursRoles-Role-bloc'>
			<div *ngIf="listUsers.role as so">
				<div class='wrapperGame-interfaceListeJoueursRoles-Role-bloc-profil role-profil-visuel--sorciere'></div>
				<span class='wrapperGame-interfaceListeJoueursRoles-Role-bloc-texte'>
					Sorcière
				</span>
			</div>
		</div>

		<div class='wrapperGame-interfaceListeJoueursRoles-Role-bloc'>
			<div class='wrapperGame-interfaceListeJoueursRoles-Role-bloc-profil role-profil-visuel--loup'></div>
			<span class='wrapperGame-interfaceListeJoueursRoles-Role-bloc-texte'>
				Loup
			</span>
		</div>

		<div class='wrapperGame-interfaceListeJoueursRoles-Role-bloc'>
			<div class='wrapperGame-interfaceListeJoueursRoles-Role-bloc-profil role-profil-visuel--villageois'></div>
			<span class='wrapperGame-interfaceListeJoueursRoles-Role-bloc-texte'>
				Villageois
			</span>
		</div>

		<div class='wrapperGame-interfaceListeJoueursRoles-Role-bloc'>
			<div class='wrapperGame-interfaceListeJoueursRoles-Role-bloc-profil role-profil-visuel--villageois'></div>
			<span class='wrapperGame-interfaceListeJoueursRoles-Role-bloc-texte'>
				Villageois
			</span>
		</div>

		<div class='wrapperGame-interfaceListeJoueursRoles-Role-bloc'>
			<div class='wrapperGame-interfaceListeJoueursRoles-Role-bloc-profil role-profil-visuel--voyante'></div>
			<span class='wrapperGame-interfaceListeJoueursRoles-Role-bloc-texte'>
				Voyante
			</span>
		</div>

	</div>

	<div class='wrapperGame-interfaceListeJoueursRoles-blocBas'></div>

</div>