<div class='wrapperGame-interfaceListeJoueursRoles'>
	<div class='wrapperGame-interfaceListeJoueursRoles-blocHaut'></div>

	<div class='wrapperGame-interfaceListeJoueursRoles-Role'>
		
		<div class='wrapperGame-interfaceListeJoueursRoles-Role-bloc'>
			<div class='wrapperGame-interfaceListeJoueursRoles-Role-bloc-profil'></div>
			<span class='wrapperGame-interfaceListeJoueursRoles-Role-bloc-texte'>
				Sorcière
			</span>
		</div>

		<div class='wrapperGame-interfaceListeJoueursRoles-Role-bloc'>
			<div class='wrapperGame-interfaceListeJoueursRoles-Role-bloc-profil'></div>
			<span class='wrapperGame-interfaceListeJoueursRoles-Role-bloc-texte'>
				Loup
			</span>
		</div>

		<div class='wrapperGame-interfaceListeJoueursRoles-Role-bloc'>
			<div class='wrapperGame-interfaceListeJoueursRoles-Role-bloc-profil'></div>
			<span class='wrapperGame-interfaceListeJoueursRoles-Role-bloc-texte'>
				Villageois
			</span>
		</div>

		<div class='wrapperGame-interfaceListeJoueursRoles-Role-bloc'>
			<div class='wrapperGame-interfaceListeJoueursRoles-Role-bloc-profil'></div>
			<span class='wrapperGame-interfaceListeJoueursRoles-Role-bloc-texte'>
				Villageois
			</span>
		</div>

	</div>

	<div class='wrapperGame-interfaceListeJoueursRoles-blocBas'></div>

</div>
