@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i');
.wrapperGame-interfaceListeJoueursPseudos{
		position:fixed;
		top:50px;
		left:50px;
		width:200px;
		height:calc(100vh - 100px);
		background-color: #673927;
	}
		.wrapperGame-interfaceListeJoueursPseudos-sectionPseudo{
			width:calc(100% - 12px);
			height:calc(100% - 138px);
			overflow-y:auto;
			background-image:url(image/blocFond.jpg);
			background-position: center top;
			border:6px transparent solid;
			box-shadow:0 0 20px rgba(0,0,0,0.7) inset;
		}
			.wrapperGame-interfaceListeJoueursPseudos-section{
				display:inline-block;
				width:calc(100% - 28px);
				border:4px #e2c88e solid;
				box-shadow:0 0 15px #A3805A inset;
				margin:0;
				background-color:#DABE93;
				padding:7px 10px;
			}
				.wrapperGame-interfaceListeJoueursPseudos-section-etat{
					width:17px;
					height:17px;
					float:left;
					background-image:url(image/teteMort.jpg);
					border-radius:3px;
					box-shadow:0 0 7px #A3805A;
					margin:0 10px 0 0;
				}
				.wrapperGame-interfaceListeJoueursPseudos-section-pseudo{
					font-family: 'Lora', 'Arial',serif;
					font-weight:700;
					float:left;
					height:100%;
					overflow:hidden;
					font-size:1em;
				}
			.wrapperGame-interfaceListeJoueursPseudos-section--dead{
				opacity: .7;
				display:inline-block;
				width:calc(100% - 28px);
				border:4px #7e2100 solid;
				box-shadow: 0 0 8px rgba(0,0,0,0.7), 0 0 15px rgba(0,0,0,0.3) inset;
				background-color:#7e2100;
				margin:0;
				padding:7px 10px;
			}
				.wrapperGame-interfaceListeJoueursPseudos-section-pseudo--dead{
					font-family: 'Lora', 'Arial',serif;
					font-weight:700;
					float:left;
					height:100%;
					overflow:hidden;
					font-size:1em;
					color:#fff;
				}
		.wrapperGame-interfaceListeJoueursPseudos-blocBas{
			width:200px;
			height:63px;
			background-repeat: no-repeat;
			background-image:url(image/bloc.jpg);
			background-size:cover;
			background-position: center;
		}
		.wrapperGame-interfaceListeJoueursPseudos-blocHaut{
			width:200px;
			height:63px;
			background-repeat: no-repeat;
			background-image:url(image/bloc2.jpg);
			background-size:cover;
			background-position: center;
		}
