<div class='wrapperGame-interfaceListeJoueursPseudos'>

		<div class='wrapperGame-interfaceListeJoueursPseudos-section'>
			<div class='wrapperGame-interfaceListeJoueursPseudos-section-pseudo'>Ilona</div>
		</div>

		<div class='wrapperGame-interfaceListeJoueursPseudos-section--dead'>
			<div class='wrapperGame-interfaceListeJoueursPseudos-section-etat'></div>
			<div class='wrapperGame-interfaceListeJoueursPseudos-section-pseudo--dead'>Lucas</div>
		</div>

		<div class='wrapperGame-interfaceListeJoueursPseudos-section'>
			<div class='wrapperGame-interfaceListeJoueursPseudos-section-pseudo'>Alexandre</div>
		</div>

		<div class='wrapperGame-interfaceListeJoueursPseudos-section'>
			<div class='wrapperGame-interfaceListeJoueursPseudos-section-pseudo'>David</div>
		</div>

		<div class='wrapperGame-interfaceListeJoueursPseudos-section--dead'>
			<div class='wrapperGame-interfaceListeJoueursPseudos-section-etat'></div>
			<div class='wrapperGame-interfaceListeJoueursPseudos-section-pseudo--dead'>Gertrude</div>
		</div>

		<div class='wrapperGame-interfaceListeJoueursPseudos-section--dead'>
			<div class='wrapperGame-interfaceListeJoueursPseudos-section-etat'></div>
			<div class='wrapperGame-interfaceListeJoueursPseudos-section-pseudo--dead'>Pierre</div>
		</div>






</div>