<div  class='wrapperGame-interfaceListeJoueursPseudos'>
		<div *ngFor="let listUsers of listUser" class='wrapperGame-interfaceListeJoueursPseudos-section'><div class='wrapperGame-interfaceListeJoueursPseudos-section-pseudo'>{{ listUsers }}</div></div>




		<!-- structure pour les joueurs tués -->

		<!-- <div class='wrapperGame-interfaceListeJoueursPseudos-section--dead'>
			<div class='wrapperGame-interfaceListeJoueursPseudos-section-etat'></div>
			<div class='wrapperGame-interfaceListeJoueursPseudos-section-pseudo--dead'>Lucas</div>
		</div> -->
</div>