<div  class='wrapperGame-interfaceListeJoueursPseudos'>
	<div class='wrapperGame-interfaceListeJoueursPseudos-blocHaut'></div>
	<div class='wrapperGame-interfaceListeJoueursPseudos-sectionPseudo'>





		<div *ngFor="let listUsers of listUser" class='wrapperGame-interfaceListeJoueursPseudos-section'>
			<div class='wrapperGame-interfaceListeJoueursPseudos-section-pseudo'>
				{{ listUsers }}
				<!-- <input type="checkbox" [(ngModel)]="user.ready" onclick="playerReady();return false;"/>  // TODO : Gestion du ready -->
			</div>
		</div>


		<!-- structure pour les joueurs tués -->

		<!-- <div class='wrapperGame-interfaceListeJoueursPseudos-section--dead'>
			<div class='wrapperGame-interfaceListeJoueursPseudos-section-etat'></div>
			<div class='wrapperGame-interfaceListeJoueursPseudos-section-pseudo--dead'>Lucas</div>
		</div> -->









		</div>
	<div class='wrapperGame-interfaceListeJoueursPseudos-blocBas'></div>

</div>