<div class='wrapperGame'>



		<!-- Coins Metalliques du décors: haut gauche, haut droit, bas gauche, bas droit -->
		<div class='wrapperGame-coinHautGauche'></div>
		<div class='wrapperGame-coinHautDroit'></div>
		<div class='wrapperGame-coinBasGauche'></div>
		<div class='wrapperGame-coinBasDroit'></div>

		<!-- Barre contour de la scène: haut, droite, bas, gauche -->
		<div class='wrapperGame-barreHaute'></div>
		<div class='wrapperGame-barreDroite'></div>
		<div class='wrapperGame-barreBas'></div>
		<div class='wrapperGame-barreGauche'></div>










		<!-- conteneur de l'état du jeu, timer, rôle du joueur, jour/nuit -->
		<div class='wrapperGame-interfaceInfoJeu'>

			<!-- Centre les éléments en haut de l'écran -->
			<div class='wrapperGame-interfaceInfoJeu-centre'>

				<div class='wrapperGame-interfaceInfoJeu-centre-message' id='messageJeu'></div>

				<!-- Centre le timer, le visuel rôle et l'état "jour/nuit" -->
				<div class='wrapperGame-interfaceInfoJeu-centre-elements'>
					<div class='wrapperGame-interfaceInfoJeu-centre-elements-role'></div>
					<app-timer></app-timer>
					<div class='wrapperGame-interfaceInfoJeu-centre-elements-jourNuit'></div>
				</div>

			</div>

			

		</div>




	




		<!-- conteneur liste des joueurs connectés à la session (pseudos) -->
		<app-liste-joueurs></app-liste-joueurs>




		<!-- conteneur tchat de discussion -->
		<app-tchat-joueurs></app-tchat-joueurs>







		<!-- conteneur liste des rôles connectés -->
		<app-liste-roles></app-liste-roles>

	</div>	
