		<div class='wrapperGame-interfaceTchat'>
			<div class='wrapperGame-interfaceTchat-tchat'>
				<div class='wrapperGame-interfaceTchat-tchat-push'></div>

				

				<span class='wrapperGame-interfaceTchat-tchat-section'>
					<span class='wrapperGame-interfaceTchat-tchat-section-inGame'>[16:01] : Le jeu commence!</span>
				</span>

				<span class='wrapperGame-interfaceTchat-tchat-section'>
					<span class='wrapperGame-interfaceTchat-tchat-section-heure'>[16:04]</span>
					<span class='wrapperGame-interfaceTchat-tchat-section-pseudo'>Robertina</span>
					<span class='wrapperGame-interfaceTchat-tchat-section-message'> : Hello World!!</span>
				</span>


				<span class='wrapperGame-interfaceTchat-tchat-section'>
					<span class='wrapperGame-interfaceTchat-tchat-section-heure'>[17:25]</span>
					<span class='wrapperGame-interfaceTchat-tchat-section-pseudo'>Mohamed Dupont</span>
					<span class='wrapperGame-interfaceTchat-tchat-section-message'> : Hey! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam leo nulla, lobortis sit amet pulvinar dictum, interdum in justo. Fusce a tincidunt nunc. Maecenas finibus eros a volutpat commodo. Donec eu rhoncus risus. Donec gravida aliquam tellus, quis volutpat enim rutrum eget. Duis sodales lorem a quam euismod lacinia. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed tempus non turpis in molestie. Curabitur id tincidunt massa. Duis consectetur felis et scelerisque mollis. Sed vehicula nisl et imperdiet tincidunt.</span>
				</span>


				<span class='wrapperGame-interfaceTchat-tchat-section'>
					<span class='wrapperGame-interfaceTchat-tchat-section-heure'>[17:25]</span>
					<span class='wrapperGame-interfaceTchat-tchat-section-pseudo'>Robertina</span>
					<span class='wrapperGame-interfaceTchat-tchat-section-message'> : J'ai envie de toi</span>
				</span>


				<span class='wrapperGame-interfaceTchat-tchat-section'>
					<span class='wrapperGame-interfaceTchat-tchat-section-heure'>[23:47]</span>
					<span class='wrapperGame-interfaceTchat-tchat-section-pseudo'>Mohamed Dupont</span>
					<span class='wrapperGame-interfaceTchat-tchat-section-message'> : Je m'appelle Alexandre en vrai</span>
				</span>


				<span class='wrapperGame-interfaceTchat-tchat-section'>
					<span class='wrapperGame-interfaceTchat-tchat-section-heure'>[23:48]</span>
					<span class='wrapperGame-interfaceTchat-tchat-section-pseudo'>Robertina</span>
					<span class='wrapperGame-interfaceTchat-tchat-section-message'> : T'es homo?</span>
				</span>

				<span class='wrapperGame-interfaceTchat-tchat-section'>
					<span class='wrapperGame-interfaceTchat-tchat-section-heure'>[16:04]</span>
					<span class='wrapperGame-interfaceTchat-tchat-section-pseudo'>Robertina</span>
					<span class='wrapperGame-interfaceTchat-tchat-section-message'> : Hello World!!</span>
				</span>


				<span class='wrapperGame-interfaceTchat-tchat-section'>
					<span class='wrapperGame-interfaceTchat-tchat-section-heure'>[17:25]</span>
					<span class='wrapperGame-interfaceTchat-tchat-section-pseudo'>Mohamed Dupont</span>
					<span class='wrapperGame-interfaceTchat-tchat-section-message'> : Hey! Lorem ipsum diet tincidunt.</span>
				</span>


				<span class='wrapperGame-interfaceTchat-tchat-section'>
					<span class='wrapperGame-interfaceTchat-tchat-section-heure'>[17:25]</span>
					<span class='wrapperGame-interfaceTchat-tchat-section-pseudo'>Robertina</span>
					<span class='wrapperGame-interfaceTchat-tchat-section-message'> : J'ai envie de toi</span>
				</span>


				<span class='wrapperGame-interfaceTchat-tchat-section'>
					<span class='wrapperGame-interfaceTchat-tchat-section-heure'>[23:47]</span>
					<span class='wrapperGame-interfaceTchat-tchat-section-pseudo'>Mohamed Dupont</span>
					<span class='wrapperGame-interfaceTchat-tchat-section-message'> : Je m'appelle Alexandre en vrai</span>
				</span>


				<span class='wrapperGame-interfaceTchat-tchat-section'>
					<span class='wrapperGame-interfaceTchat-tchat-section-heure'>[23:48]</span>
					<span class='wrapperGame-interfaceTchat-tchat-section-pseudo'>Robertina</span>
					<span class='wrapperGame-interfaceTchat-tchat-section-message'> : T'es homo?</span>
				</span>

				<span class='wrapperGame-interfaceTchat-tchat-section'>
					<span class='wrapperGame-interfaceTchat-tchat-section-heure'>[17:25]</span>
					<span class='wrapperGame-interfaceTchat-tchat-section-pseudo'>Robertina</span>
					<span class='wrapperGame-interfaceTchat-tchat-section-message'> : J'ai envie de toi</span>
				</span>


				<span class='wrapperGame-interfaceTchat-tchat-section'>
					<span class='wrapperGame-interfaceTchat-tchat-section-inGame'>[23:47] : Alexandre est homo</span>
				</span>


				<span class='wrapperGame-interfaceTchat-tchat-section'>
					<span class='wrapperGame-interfaceTchat-tchat-section-heure'>[23:48]</span>
					<span class='wrapperGame-interfaceTchat-tchat-section-myself'>Moi</span>
					<span class='wrapperGame-interfaceTchat-tchat-section-message'> : T'es homo?</span>
				</span>

				<span class='wrapperGame-interfaceTchat-tchat-section'>
					<span class='wrapperGame-interfaceTchat-tchat-section-inGame'>[16:01] : Oui oui...</span>
				</span>

				<span class='wrapperGame-interfaceTchat-tchat-section'>
					<span class='wrapperGame-interfaceTchat-tchat-section-heure'>[16:04]</span>
					<span class='wrapperGame-interfaceTchat-tchat-section-pseudo'>Robertina</span>
					<span class='wrapperGame-interfaceTchat-tchat-section-message'> : Hello World!!</span>
				</span>


				<span class='wrapperGame-interfaceTchat-tchat-section'>
					<span class='wrapperGame-interfaceTchat-tchat-section-heure'>[17:25]</span>
					<span class='wrapperGame-interfaceTchat-tchat-section-pseudo'>Mohamed Dupont</span>
					<span class='wrapperGame-interfaceTchat-tchat-section-message'> : Hey! Lorem ipsum diet tincidunt.</span>
				</span>


				<span class='wrapperGame-interfaceTchat-tchat-section'>
					<span class='wrapperGame-interfaceTchat-tchat-section-heure'>[17:25]</span>
					<span class='wrapperGame-interfaceTchat-tchat-section-pseudo'>Robertina</span>
					<span class='wrapperGame-interfaceTchat-tchat-section-message'> : J'ai envie de toi</span>
				</span>


				<span class='wrapperGame-interfaceTchat-tchat-section'>
					<span class='wrapperGame-interfaceTchat-tchat-section-heure'>[23:47]</span>
					<span class='wrapperGame-interfaceTchat-tchat-section-pseudo'>Mohamed Dupont</span>
					<span class='wrapperGame-interfaceTchat-tchat-section-message'> : Je m'appelle Alexandre en vrai</span>
				</span>
			</div>

			<form method='post' class='wrapperGame-interfaceTchat-form'>
				<input type='submit' value="Envoyer" class='wrapperGame-interfaceTchat-form-submit' />
				<input type='text' placeholder="Entrez votre texte ici..." class='wrapperGame-interfaceTchat-form-input' />
			</form>
		</div>
